<div class="content">    
    <div ><h3>Excel data visualization</h3></div>

    <div class="row-item-1">
        <div>
            <p>The original datasheet</p>
        </div>
        <div>    
            <img src="../../../assets/images/bike_sales1.jpg" class="image"  alt="Bike Sales 1">   
        </div>    
    </div>    

    <div class="row-item-2">
        <div>
            <p>Data cleaning:</p>
                <ul>
                    <li>The original datasheet is kept, changes are made on a copy</li>
                    <li>Duplicates were removed</li>
                    <li>Data values were checked</li>
                    <li>Short values were renamed to a more meaningful value, e.g. S: Single, M: Married</li>
                    <li>Age ranges were created based on ages.</li>
                    <li>Content was translated to Hungarian</li>
                </ul>
            
        </div>
        <div>    
            <img src="../../../assets/images/bike_sales2.jpg" class="image" alt="Bike Sales 2">   
        </div>  
    </div>          

        <div class="row-item-1">
            <div>
                <p>Pivot tables and charts were created</p>
            </div>
            <div>    
                <img src="../../../assets/images/bike_sales3.jpg" class="image" alt="Bike Sales 3">   
            </div>    
        </div>    

        <div class="row-item-2">
            <div>
                <p>Interactive Dashboard was created with Slicers</p>
            </div>
            <div class="dash-images">    
                <img src="../../../assets/images/bike-dash-gif.gif" class="image-dash" alt="Bike Sales Dashboard GIF">                   
            </div>    
        </div>           

            

    <div class="back">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>
        
