<div class="content">        
    <div ><h3>{{"About" | translate}}</h3></div>
    <div class="inner-content">
        <div class="about-image">
            <img src="../../assets/images/jvasko.jpg" 
                    alt="Profile picture Judit Vaskó-Szedlár" 
                    >                
        </div>   
        <div class="description">
            <p>{{"About_desc.Desc_1" | translate }}</p>
            <!-- <p>Hello! My name is Judit and I have <strong>nine years</strong> of experience in software development. <br>
                I have an MSc degree in Computer Sciences and Mathematics (2004, University of Debrecen, Hungary).</p> -->

            <p>{{"About_desc.Desc_2" | translate}}<br>
                {{"About_desc.Desc_3" | translate}}
            </p>
                <ul>
                    <li>{{"About_desc.Area_1" | translate}}</li>
                    <li>{{"About_desc.Area_2" | translate}}</li>
                    <li>{{"About_desc.Area_3" | translate}}</li>
                </ul>
            
            
            <p>{{"About_desc.Desc_4" | translate}}               
            </p>
            
            <p>{{"About_desc.Desc_5" | translate}}    
            </p>
        </div>
                     
    </div>

</div>