<div class="content">        
    <div ><h3>About me</h3></div>
    <div class="inner-content">
        <div class="description">
            <p>Hi, my name is Judit and I have <strong>nine years</strong> of experience in software development. <br>
                I have an MSc degree in Computer Science (University of Debrecen, Hungary).</p>

            <p>I worked as a <strong>software developer</strong> for more than <strong>seven years</strong> in the cheminformatical and medical fields.
            <br>My favourite projects were visualizing large datasets (volumetric data). 
                It thrills me how much more we can understand data in a properly visualized way comparing to the raw format.                
            </p>
            <p>I performed in the <strong>Scrum Master</strong> role for <strong>two years</strong>. </p>
        </div>
        <div class="about-image">
            <img src="../../assets/images/jvasko.jpg" 
                    alt="Profile picture Judit Vaskó-Szedlár" 
                    >                
        </div>                
    </div>

</div>