<div class="content">        
    <div ><h3>{{"About" | translate}}</h3></div>
    <div class="inner-content">
        <div class="about-image">
            <img src="../../assets/images/jvasko.jpg" 
                    alt="Profile picture Judit Vaskó-Szedlár" 
                    >                
        </div>   
        <div class="description">
            <p>Hello! My name is Judit and I have <strong>nine years</strong> of experience in software development. <br>
                I have an MSc degree in Computer Sciences (2004, University of Debrecen, Hungary).</p>

            <p>During my career I worked as a <strong>software developer</strong> for more than <strong>seven years</strong> in the cheminformatical and medical fields.<br>
                Main areas:
            </p>
                <ul>
                    <li>Computer graphics: visualizing large datasets (volumetric data)</li>
                    <li>User Interface: design and implementation of the UI and UX of Java desktop applications</li>
                    <li>Licensing: collaboration with all developer teams and the sales department</li>
                </ul>
            
            
            <p>I also performed in the <strong>Scrum Master</strong> role for <strong>two years</strong>.                  
                In this role I have worked closely with the company's management and agile coaches, enhancing the collaboration between developer teams, helping them understand and accept changes more easily.                
            </p>
            
            <p>After dedicating years to full-time childcare I started learning about web development and data analysis.
                I found that the willingness to learn is the key for me to keep my motivation and to find meaningful goals.
            </p>
        </div>
                     
    </div>

</div>