.content {
    display: flex;
    flex-flow: column wrap;
 
    background-color: #c4d6e2;
    width: 100%;

    padding-left: 10%;
    padding-right: 10%;   
      
  }

  .inner-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 30px;
  }

  .description {
    flex-basis: 65%;
    flex-shrink: 3;
  }

  .about-image {
    flex: none;
  }


  
  img {
    max-height: 150px;
    margin-bottom: 30px;
  }
