<div class="content">    
    <div ><h3>MarvinSpace</h3></div>
    
        <div class="row-item-1">
            <div>
                <p>Anti-aliasing, smooth polygon edges</p>
            </div>
            <div>    
                <img src="../../../assets/images/ms1.jpg" class="image">   
            </div>    
        </div>
        <div class="row-item-2">
            <div> 
                <p>Smooth and accurate surfaces</p>
            </div>
            <div> 
                <img src="../../../assets/images/ms3.jpg" class="image"> 
            </div>   
        </div>
        <div class="row-item-1">
            <div> 
                <p>Reducing the number of triangles with a geometric algorithm<br> that preserves surface characteristics.</p>
            </div> 
            <div> 
            <img src="../../../assets/images/ms4.jpg" class="image">   
            </div>
        </div>
        <div class="row-item-2">
            <div> 
                <p>Real-time rendering of large structures<br>
                    The structure in the image consists of around 36.000 atoms.</p>
                </div> 
                <div> 
                <img src="../../../assets/images/ms6.jpg" class="image">   
                </div>
        </div>
        <div class="row-item-1">
            <div> 
            <p>A different representation of the same kind of data structure.</p>
            </div>
            <div> 
            <img src="../../../assets/images/ms7.jpg" class="image">   
            </div>
        </div>

    <div class="back">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>