.content {
    display: flex;
    flex-flow: column wrap;
 
    background-color: #c4d6e2;
    width: 100%;

   padding-left: 100px;
   padding-right: 100px; 
      
  }
  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: #337AB7;
  }

  .social-links a:hover svg path {
    fill: #23527C;
    transition: 1s ease;
  }

  p{
    margin: 0px;

  }

  .e-mail:before {
    content: "\006a\0075\0064\0069\0074\002e\0076\0061\0073\006b\006f\006e\0065\0040\0067\006d\0061\0069\006c\002e\0063\006f\006d";
  }