.content {
    display: flex;
    flex-flow: column wrap;    

    width: 100%;

    padding-left: 10%;
    padding-right: 10%;   
      
   padding-bottom: 50px;
  }

  .portfolio-content {
    display: flex;
    flex-flow: column wrap;    
    width: 100%;
   background-color: white;  
   padding-bottom: 50px;  
}

  .item-container {
    display: flex;
    flex-flow: column wrap;
 

  }
 .item-cotainer-row {
  display: flex;
    flex-flow: row wrap;
  padding-bottom: 30px;
  gap: 30px;
 }

  h3 {
    border-bottom:1.2px #c4d6e2 solid;
  }


 h4{
    font-family:Montserrat,sans-serif;
    font-weight:300;
    font-size:14px;
    
  } 

  .item {
    position: relative;
    //height: 200px;
    height: auto;
    //width: auto;
    width: 300px;
  }
 .image{
  display: block;
    width: 300px;
    //width:214px;
    //width: auto;
    //height: 200px;
    //width: 200px;
    height: auto;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border: 1px solid #99B8CD;
  }

  .overlay{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(196,214,226,.8);
    overflow:hidden;
    width:100%;
    height:0;
    transition:.5s ease;
    text-align:center;
  }
  
.item:hover .overlay{
    height:75%;
  }
  
  .item h3{
    text-transform: none;
    font-size:18px;
    font-weight:700;
    margin:10px 0 0;
  }
  .item h4{
    font-family:Montserrat,sans-serif;
    font-weight:300;
    font-size:14px;
  }  
//  .item .h3{
//   font-family:Montserrat,sans-serif;
//     font-size:18px;
//     font-weight:700;
//     margin:10px 0 0
//   }
//   .item .h4{
//     font-family:Montserrat,sans-serif;
//     font-size:12px
//   }