<div class="content">    
    <div ><h3>Portfolio</h3></div>
    <div class="item-container">
        <h4>Computer graphics</h4>   
<div class="item-cotainer-row">
    
    <div class="item">
        <a href="/braincad">
            <img src="../../assets/images/braincad.png" class="image" >        
            <div class="overlay">
                <h3>BrainCAD</h3>
                <h4>Visualization of medical data</h4>
            </div>   
        </a>         
    </div>
    
    <div class="item">
        <a href="/marvinspace">
        <img src="../../assets/images/ms1.jpg" class="image" >        
            <div class="overlay">
                <h3>MarvinSpace</h3>
                <h4>Visualization of chemical data</h4>
            </div> 
        </a>           
    </div>
</div>        
<h4>Data analysis</h4>
<div  class="item-cotainer-row">
    <div class="item">
        <a href="/excel">
        <img src="../../assets/images/bike-dash1.jpg" class="image" >        
            <div class="overlay">
                <h3>Excel Dashboard</h3>
                <h4>Data visualization practice in Excel</h4>
                <h4>(self-education)</h4>
            </div> 
        </a>           
    </div>

    <div class="item">
        <a href="/excel2">
        <img src="../../assets/images/world_population1.jpg" class="image" >        
            <div class="overlay">
                <h3>World Population</h3>
                <h4>Data visualization practice in Excel</h4>
            </div> 
        </a>           
    </div>

    <div class="item">
        <a href="/power_query">
        <img src="../../assets/images/power_query3.jpg" class="image" >        
            <div class="overlay">
                <h3>Using Power Query in Power BI</h3>
                <h4>Data transformation practice in Power Query</h4>
                <h4>(self-education)</h4>
            </div> 
        </a>           
    </div>
</div>
<h4>Web development</h4>
    <div  class="item-cotainer-row">
    <div class="item">
        <a href="/cookiebook">
        <img src="../../assets/images/cb1.jpg" class="image" >        
            <div class="overlay">
                <h3>Cook-ie-Book</h3>
                <h4>Personal project for recipe handling</h4>
            </div> 
        </a>           
    </div>
</div>    
    
</div>
</div>

