<div class="content">    
    <div ><h3>Using Microsoft Power Query Editor</h3></div>

    <div class="row-item-1">
        <div>    
            <p>
            The original datasheet is a pre-formatted sheet in Excel:
        </p>        
        </div>
        <div>    
            <img src="../../../assets/images/power_query1.jpg" class="image" alt="Power Query 1">   
        </div>    
    </div>         

        <div class="row-item-2">
            <div>
                <p>Data imported from formatted Excel sheet:</p>  
            </div>
            <div>    
                <img src="../../../assets/images/power_query4.jpg" class="image" alt="Power Query 4">                   
            </div>    
        </div>    
        
        <div class="row-item-1">
            <div>
                <p>Changes are made on the data so that it is easier to work with:</p>
                <ul>
                    <li>Removing rows that contain null values</li>
                    <li>Removing subtotal values using filtering</li>
                    <li>Changing the headers</li>
                    <li>Changing column data types</li>
                    <li>Unpivoting</li>
                </ul>
            </div>
            <div>    
                <img src="../../../assets/images/power_query2.jpg" class="image" alt="Power Query 2">   
            </div>    
        </div> 

        <div class="row-item-2">
            <div>
                <p>Creating a simple visualization on the transformed data using Power BI.</p>                
            </div>
            <div>    
                <img src="../../../assets/images/power_query3.jpg" class="image" alt="Power Query 3">                   
            </div>    
        </div>    

            

    <div class="back">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>
        

