<div class="content">    
    <div ><h3>Cook-ie-Book</h3></div>
    <div class="project-det">
     <p>This recipe management project is a personal project that was created with: </p> 
        <ul>
            <li>ASP.NET Core Web API backend</li>
            <li>underlying MySQL database</li>
            <li>Angular front-end</li>
        </ul>
    </div>
    <div class="project-link">   
    <a href="https://jvaskone.github.io/Cook-ie-Book/recipes">
        <div class="button"><p>Visit project live page on Github</p>
        </div>
        </a>
    </div>


<div class="back">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>
 