.project-det {
    padding-left: 10%;
    padding-right: 10%; 
    background-color: #c4d6e2;
  }

  .project-link {
    padding-left: 10%;
    padding-right: 10%; 
    background-color: #99B8CD;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;        
  }

  .project-link .a {
    color: white;
    text-decoration: none;
  }


  .content {
    display: flex;
    flex-flow: column wrap;    
    width: 100%;
   background-color: white;  
   padding-bottom: 50px;
  
  }

  h3 {
    border-bottom:1.2px #c4d6e2 solid;
    padding-left: 10%;
    padding-right: 10%; 
  }