.project-det {
    padding-left: 10%;
    padding-right: 10%; 
  }

  .project-link {
    padding-left: 10%;
    padding-right: 10%; 
    //width: 100%;
    //display:block;
    background-color: #99B8CD;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    //max-width:500px;margin-left:auto;margin-right:auto;
  }

  .project-link .a {
    color: white;
    text-decoration: none;
  }

  .button {
    padding:10px 10px 5px;
    background-color:#fff;
    color:#555;    
    text-align:center;
    max-width: 500px;   
}

  .content {
    display: flex;
    flex-flow: column wrap;    
    width: 100%;
   background-color: white;  
   padding-bottom: 50px;
  
  }

  h3 {
    border-bottom:1.2px #c4d6e2 solid;
    padding-left: 10%;
    padding-right: 10%; 
  }