
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid  justify-content-center">
    <ul id="menu-menu-en" class="navbar-nav">
      <li id="menu-item-60" class="nav-item">
        <a class="nav-link" href="#" aria-current="page">Home</a></li>
      <li id="menu-item-62" class="nav-item">
        <a class="nav-link" href="#about-me" aria-current="page">About me</a></li>
      <li id="menu-item-64" class="nav-item">
        <a class="nav-link" href="#portfolio" aria-current="page">Portfolio</a></li>
      <li id="menu-item-348" class="nav-item">
        <a class="nav-link" href="#contact" aria-current="page">Contact</a></li>        
    </ul>
  </div>
</nav>
<main class="main">
  <router-outlet />    
</main>




