<div class="content">    
    <div ><h3>Excel data visualization</h3></div>

    <div class="row-item-1">
        <div>    
            <p>
            <a href="https://www.kaggle.com/datasets/tanishqdublish/world-data-population">The original datasheet</a>
        </p>        
        </div>
        <div>    
            <img src="../../../assets/images/world_population4.jpg" class="image"  alt="World Population 4">   
        </div>    
    </div>    

    <div class="row-item-2">
        <div>
            <p>Data cleaning:</p>
            <p>This dataset was very clean, I only needed to change the literal values in the growth rate column to numeric values.</p>
        </div>         
    </div>          

        <div class="row-item-1">
            <div>
                <p>World population growth rate</p>
            </div>
            <div>    
                <img src="../../../assets/images/world_population2.jpg" class="image" alt="World Population 2">   
            </div>    
        </div>    

        <div class="row-item-2">
            <div>
                <p>World population distribution</p>
            </div>
            <div>    
                <img src="../../../assets/images/world_population1.jpg" class="image" alt="World Population 1">                   
            </div>    
        </div>    
        
        <div class="row-item-1">
            <div>
                <p>Change of world population from 1970 to 2020</p>
            </div>
            <div>    
                <img src="../../../assets/images/world_population3.jpg" class="dash-image" alt="World Population 3">   
            </div>    
        </div> 

            

    <div class="back">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>
        

